name: Ubuntu

on:
  push:
    branches:
      - master
      - 'dev**'
  pull_request:
    paths:
      - 'tesseract**'
      - '.github/workflows/ubuntu.yml'
      - '**.repos'
  schedule:
    - cron: '0 5 * * *'
  release:
    types:
      - released

jobs:
  ci:
    name: ${{ matrix.distro }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distro: [focal, jammy]
    container:
      image: ghcr.io/tesseract-robotics/trajopt:${{ matrix.distro }}-0.21
      env:
        CCACHE_DIR: "$GITHUB_WORKSPACE/${{ matrix.distro }}/.ccache"
        DEBIAN_FRONTEND: noninteractive
        TZ: Etc/UTC
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: target_ws/src

      - name: Install Depends
        shell: bash
        run: |
          apt update
          apt upgrade -y
          apt install -y wget software-properties-common
          add-apt-repository ppa:levi-armstrong/tesseract-robotics
          apt install -y libompl-dev taskflow

      - name: Build and Tests
        uses: tesseract-robotics/colcon-action@v2
        with:
          before-script: source /opt/tesseract/install/setup.bash && source /opt/trajopt/install/setup.bash
          ccache-prefix: ${{ matrix.distro }}
          vcs-file: dependencies.repos
          upstream-args: --cmake-args -DCMAKE_BUILD_TYPE=Release
          target-path: target_ws/src
          target-args: --cmake-args -DCMAKE_BUILD_TYPE=Debug -DTESSERACT_ENABLE_TESTING=ON
